<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/logo-transperent.ico" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
