<!DOCTYPE html>
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPageLogin.cshtml";
}
<html style="background-color:#78d64b" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>404</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css2/style.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound vh-100">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Bir Sorun Oluştu !</h2>
            <p>Kullanıcı Adı veya Şifre Yanlış!</p>
            <br />
            <p>Lütfen Daha Sonra Tekrar Deneyiniz!</p>
            <br />
            <a href="~/Login/Login">Geri Dön</a>
        </div>
    </div>

</body>
</html>