@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Theme/vendor/jquery/jquery.min.js"></script>
<center>
    <h2>HOŞGELDİNİZ</h2>
    <br />
    <p>Bu site müşteri ve KVK sürecinden elimize ulaşan cihazların hatalarının saptanması,</p>
    <br />
    <p>Oluşan bu hataların verilerinin toplanması,</p>
    <br />
    <p>Bu verilerin ise ARGE çalışmalarında kullanılarak cihazların hatalarının giderilmesi, için tasarlanmıştır.</p>
    <br />

    <p>Görüş ve fikirleriniz sitenin gelişiminde önemlidir.</p>
    <br />
    <p>Görüş ve fikirlerinizi IT Departmanına belirtebilirsiniz.</p>
    <br />
</center>